<section class="hero hero--about">
 <div class="container-width-xl">
   <div class="title-over-hero--centered">
     <h1>About The Orange Review</h1>
   </div>
   <nav class="nav-centered">
     <a href="#">About Us</a>
     <a href="#" class="active">Partners</a>
     <a href="#">Imprint</a>
   </nav>
 </div>
</section>
<section class="section-thanks-to-partners">
  <div class="container-width-xxl">
    <div class="section-thanks-left">
      <h2 class="h2--special u--margin-btm-l">
      Thanks To Our Partners & Sponsors
      </h2>
      <p>
        Nulla set amet in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="section-thanks-right">
      <div class="section-thanks-right--container">
          <%= image_tag("circle-4.jpg", {width: "55px", height: "55px", class: "circle-image circle-image-1"}) %>
          <%= image_tag("circle-8.jpg", {width: "140px", height: "140px", class: "circle-image circle-image-2"}) %>
          <%= image_tag("circle-2.jpg", {width: "78px", height: "78px", class: "circle-image circle-image-3"}) %>
          <%= image_tag("circle-9.jpg", {width: "111px", height: "111px", class: "circle-image circle-image-4"}) %>
          <%= image_tag("circle-6.jpg", {width: "52px", height: "52px", class: "circle-image circle-image-5"}) %>
          <%= image_tag("circle-5.jpg", {width: "110px", height: "110px", class: "circle-image circle-image-6"}) %>
          <%= image_tag("circle-3.jpg", {width: "127px", height: "127px", class: "circle-image circle-image-7"}) %>
          <%= image_tag("circle-1.jpg", {width: "58px", height: "58px", class: "circle-image circle-image-8"}) %>
          <%= image_tag("circle-7.jpg", {width: "75px", height: "75px", class: "circle-image circle-image-9"}) %>
      </div>
    </div>
 </div>
</section>
<section class="grid-row">
 <div class="partner-grid--logo-section">
   <div class="partner-grid--logo">
     <%= image_tag("partner-1.png", {height: "146px", width: "290px"}) %>
   </div>
 </div>
 <div class="partner-grid--text-section">
    <div class="partner-grid--text">
      <h5 class="h5">Build Carolina</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
 </div>
</section>
<section class="grid-row">
 <div class="partner-grid--text-section">
    <div class="partner-grid--text">
      <h5 class="h5">SC Codes</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
 </div>
 <div class="partner-grid--logo-section">
   <div class="partner-grid--logo">
     <%= image_tag("partner-2.png", {height: "67px", width: "276px", class: "sponsor-logo--sccodes"}) %>
   </div>
 </div>
</section>
<section class="grid-row">
 <div class="partner-grid--logo-section">
   <div class="partner-grid--logo">
     <%= image_tag("partner-3.png", {height: "124px", width: "255px", class: "sponsor-logo--workingtheory"}) %>
   </div>
 </div>
 <div class="partner-grid--text-section">
    <div class="partner-grid--text">
      <h5 class="h5">Working Theory</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
 </div>
</section>
